@model Unitech.Models.Ong

@{
    ViewData["Title"] = "Delete";
}
<head>

</head>
<h3>Tem certeza que deseja excluir ?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    <form>
        <input type="submit" value="Apagar" class="btn btn-danger" id="#envio"/>
        <a asp-action="Index">Voltar </a>
    </form>
</div>
@section Scripts {
<script>
    $("#envio").click(function(form){
        $.ajax({
            type: 'POST',
            url: @Url.Action("Delete", "Ong"),
            data: $(form).serialize,
            datatype: "json",
        })};
</script>
}